.list-item-container {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    min-width: 50%;
}

.icons {
    width: 20px;
    height: 20px;
    color:#ed6d9a;
}

.full-name {
    color: #9b5ae0;
    font-weight: bold;
    width: 20%;
}

.image {
    border-radius: 15px;
}